	.header{max-height: 400px; min-height: auto;}
	.places{width: 100%; max-width: 1200px; position: relative; margin: 0 auto;}
	.places h1{text-align: right; padding-right: 70px;  
	 height: 100px; margin: 10px auto; font-size:1em; font-weight:normal;
	 background: url(../img/icons/pin-place.png) right no-repeat;}
    .places h1 b{width: 100%; display: block; font-size: 1.5em;}


.places table {margin: 50px;}
.places table td{ font-size: 1em;}
.places table tr:nth-child(2n){background: rgba(0,0,0,0.08);}
.places table td div{ font-size: 0.8em;}
.places tr{vertical-align: top;}
.places table td a{color: #000;}











